<form method="post" (ngSubmit)="postArticle()">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="article_title" [(ngModel)]="model.title">
  </div>
  <div>
    <label for="abstract">Abstract:</label>
    <input type="abstract" id="abstract" name="article_abstract" [(ngModel)]="model.abstract">
  </div>
  <div>
    <label for="body">Body:</label>
    <textarea id="body" name="article_body" [(ngModel)]="model.body"></textarea>
  </div>
  <div class="button">
    <button type="submit">Post</button>
  </div>
</form>

<form method="post" (ngSubmit)="selectUpdate()">
    <label for="update">Title to update:</label>
    <input type="titleToUpdate" id="ttlu" name="update_title" [(ngModel)]="model.updateTitle">
    <div class="button">
        <button type="submit">update</button>
    </div>
</form>

<form method="post" (ngSubmit)="deleteArticle()">
    <label for="delete">Title to delete:</label>
    <input type="titleToDelete" id="ttld" name="delete_title" [(ngModel)]="model.deleteTitle">
    <div class="button">
        <button type="submit">delete</button>
    </div>
</form>


